@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To AsseTS - Assets Tracking System</h1>
</div>


<form class="w-25" asp-action="Login" asp-controller="Home" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="password" placeholder="Password">
    </div>
    <div>@ViewData["loginInfo"]</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>