
@{
    ViewData["Title"] = "AddCategory";
    Layout = "_ManagerLayout";
}

<form class="w-25" asp-action="SubmitCategory" asp-controller="Manager" method="post">
    <div class="form-group">
        <label for="name">Category Name</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Category Name">
    </div>
    <div class="form-group">
        <label for="code">Code</label>
        <input type="text" class="form-control" id="code" name="code" placeholder="Code">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
